{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}New Couleur{% endtrans %}
{% endblock %}

{% block body %}
	<h1>{% trans %}Create new Couleur{% endtrans %}</h1>

	{{ include('couleur/_form.html.twig') }}

	<a href="{{ path('app_couleur_index') }}" class="btn btn-warning  bi bi-arrow-up-left-square-fill">{% trans %}back to list{% endtrans %}</a>
{% endblock %}
