{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}New Ticket{% endtrans %}
{% endblock %}

{% block body %}
	<h1>{% trans %}Create new Ticket{% endtrans %}</h1>

	{{ include('ticket/_form.html.twig') }}

	<a href="{{ path('app_ticket_index') }}" class="btn btn-warning">{% trans %}back to list{% endtrans %}</a>
{% endblock %}
