{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}New Pays{% endtrans %}
{% endblock %}

{% block body %}
	<h1>{% trans %}Create new Pays{% endtrans %}</h1>

	{{ include('pays/_form.html.twig') }}

	<a href="{{ path('app_pays_index') }}" class="btn btn-warning {% trans %}icon back{% endtrans %}">
		{% trans %}back to list
		{% endtrans %}</a>
{% endblock %}
