{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}New Marque{% endtrans %}
{% endblock %}

{% block body %}
	<h1>
		{% trans %}Create new Marque{% endtrans %}</h1>

	{{ include('marque/_form.html.twig') }}

	<a href="{{ path('app_marque_index') }}" class="btn btn-warning {% trans %}icon back{% endtrans %}">{% trans %}back to list{% endtrans %}</a>
{% endblock %}
