{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}New Typebiere{% endtrans %}
{% endblock %}

{% block body %}
	<h1>{% trans %}Create new Typebiere{% endtrans %}</h1>

	{{ include('typebiere/_form.html.twig') }}

	<a href="{{ path('app_typebiere_index') }}" class="btn btn-warning  {% trans %}icon back{% endtrans %}">{% trans %}back to list{% endtrans %}</a>
{% endblock %}
